
*
    box-sizing: border-box

body
    background-image: url("http://localhost/project_1/app/images/background.jpg")
    background-size: 100%

.container
    
    height: 100%
    width: 100%
    margin: 0 auto
    display: grid
    grid-template-rows: minmax(min-content, max-content)
    grid-template-columns: 1fr
    grid-template-areas:    "header""section1""footer"


header
    width: 100%
    grid-area: header
    display: grid
    grid-template-columns: 1fr 3fr 1fr
    grid-template-rows: 200px
    grid-template-areas: "logo nav nav"
    color: white
    padding: 5px
    background-color: rgba(255, 165, 0, .7)


    nav
        grid-area: nav
        font-size: 25px
        margin-top: 50px
        float: left
        ul
            list-style-type: none
            height: 100%
            margin: 0
            padding: 0
            overflow: hidden
            padding: 5px
        li
            float: left
            display: inline
        li
            a
                display: block
                color: #000000
                text-align: center
                padding: 14px 16px
                text-decoration: none
                font-size: 20px
            a:hover
                background-color: #555
                color: white


    img 
        max-height: 200px
        width: auto


section
    min-height: 650px
    padding: 5px
    background-color: rgba(255, 165, 0, .7)
    text-align: center

    h1  
        font-size: 80px  

    .motto
        font-size: 100px

.gallery
    max-width: 760px
    margin: auto
    border: white solid 3px
    background: white

.main-img img, .images img
    width: 100%

.images
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 5px

//fade in animation for gallery
@keyframes fadeIn 
    to
        opacity: 1
.fade-in
    opacity: 0
    animation: fadeIn 0.5s ease-in 1 forwards

.players
    margin-top: -65px

.player
    float: left
    height: auto
    text-align: left
    font-size: 25px
    margin: 20px 0px 20px 50px

    h1  
        font-size: 60px
p 
    font-size: 25px

.intro 
    margin-top: -50px
aside
    padding: 5px

footer
    background-color: lightgray
    padding: 5px
    grid-area: footer
    .tag
        width: 100px
        margin: 0 auto
    *
        color: black

.s1
    grid-area: section1
    color: white


.userList
    width: 33%
    margin: 0 auto

form
    div
        label
            color: black
        input, select, textarea
            color: black

.eventItem
    border: 1px solid red
    border-radius: 25px
    display: grid
    grid-template-rows: 2fr 2fr 1fr 2fr
    grid-template-columns: 1fr 1fr 1fr
    grid-template-areas:    "eventType eventPlace eventTime""desc desc desc""buttons buttons buttons""coming . notComing"
    margin-bottom: 5px
.event0 
    display: none
.event1 
    grid-area: eventType

.event2
    grid-area: desc

.event3
    grid-area: eventPlace

.event4
    grid-area: eventTime
.coming
    grid-area: coming
    ul
        list-style-type: none

.notComing
    grid-area: notComing
    ul
        list-style-type: none
.buttons
    grid-area: buttons

@media only screen and (max-width : 600px)
    body 
        margin: 0
        width: 100%
    
@media only screen and (min-width : 600px)
    .container
        height: auto
        max-width: 1000px
        margin: 0 auto

@media only screen and (min-width : 1200px)
    .container
        height: auto
        margin: 0 auto
