
*
    box-sizing: border-box
    color: white
    /*border: 1px solid red*/


body
    background-image: url("http://localhost/project_1/app/images/background.jpg")
    background-size: 100%

header
    width: 100%
    grid-area: header
    display: grid
    grid-template-columns: 1fr 3fr 1fr
    grid-template-rows: 200px
    grid-template-areas: "logo nav login"
    color: white
    padding: 5px
    background-color: rgba(255, 165, 0, .7)

    h1
        grid-area: logo
        a
            color: white
            text-decoration: none
            font-size: 20px

    nav
        grid-area: nav
        font-size: 25px
    aside
        grid-area: login
    img 
        max-height: 200px
        width: auto
section
    min-height: 650px
    padding: 5px
    text-color: black
    background-color: rgba(255, 165, 0, .7)
    text-align: center

    h1  
        font-size: 80px  

    .motto
        font-size: 100px

.players
    margin-top: -65px

.player
    float: left
    height: auto
    text-align: left
    font-size: 25px
    margin: 20px 0px 20px 50px

    h1  
        font-size: 60px
p 
    font-size: 25px

.intro 
    margin-top: -50px
aside
    padding: 5px

footer
    background-color: magenta
    padding: 5px
    grid-area: footer

nav
    ul
        list-style-type: none
        height: 100%
        margin: 0
        padding: 0
        overflow: hidden
        padding: 5px
    li
        float: left
    li
        a
            display: block

            text-align: center
            padding: 14px 16px
            text-decoration: none
        a:hover
            background-color: #555
            color: white

.s1
    grid-area: section1
    

.container
    
    height: 100%
    width: 100%
    margin: 0 auto
    display: grid
    grid-template-rows: minmax(min-content, max-content)
    grid-template-columns: 1fr
    grid-template-areas:    "header""section1""footer"

@media only screen and (max-width : 600px)
    body 
        margin: 0
        width: 100%

@media only screen and (min-width : 600px)
    .container
        height: auto
        max-width: 1000px
        margin: 0 auto

@media only screen and (min-width : 1200px)
    .container
        height: auto
        margin: 0 auto
